{% extends "base.html" %}

{% block extern_lib %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    
    <link rel="stylesheet" type="text/css" href="/static/jPlayer/skin/blue.monday/jplayer.blue.monday.css">
   <!--  <link rel="stylesheet" type="text/css" href="/static/jPlayer/skin/circle.skin/circle.player.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/jquery.mb.extruder-2.5.0/css/mbExtruder.css">
     <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script type="text/javascript" src="/static/jPlayer/js/jquery.jplayer.js"></script>
    <script type="text/javascript" src="/static/jPlayer/js/jplayer.playlist.min.js"></script>
    <script type="text/javascript" src="/static/jquery.mb.extruder-2.5.0/inc/jquery.hoverIntent.min.js"></script>
    <script type="text/javascript" src="/static/jquery.mb.extruder-2.5.0/inc/jquery.mb.flipText.js"></script>
    <script type="text/javascript" src="/static/jquery.mb.extruder-2.5.0/inc/mbExtruder.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
   
{% end %}

{% block content %}
<div class="clear"></div>
<div id="container">
    <div class="row-fluid">
        <div class="span5 hidden-phone">
             <!--Sidebar content--> 
            <div id="wrapper">
                <h1>Miao FM</h1>
                <p>Also see https://github.com/dccrazyboy/miao_fm</p>
            </div>
        </div>

        <!-- <div class="span1 hidden-phone"></div> -->

        <div class="span7">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>       
            <!-- <div id="jp-cover"><img src="/static/img/default.jpg"/></div>  -->   
            <div id="jp_container_1"> 
                <div id="jp-cover"><img src="/static/img/default.jpg"/></div> 
                <div class="jp-audio">
                    <!-- interaction button -->
                    <div id="jp-report" ></div>
                    <div id="jp-trash"></div>
                    <div id="jp-favorite"></div>
                    <!-- interaction button end-->

                    <!--  report window -->
                    <div id="myModal" align="middle" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">报告信息</h3>
                        </div>
                        <div class="modal-body">
                             <div id="reportInfo"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" onClick="submitReport()" aria-hidden="true">报告错误</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </div>
                    <!-- report window end -->

                    <div id="jp-singer"></div>   
                    <div id="jp-nameAlbum">
                        <marquee scrollamount="2"  behavior="scroll" hspace="2" onMouseOut="this.start()" onMouseOver="this.stop()"><span id="jp-name"></span><span id="jp-album"></span></marquee>
                    </div>   

                    <div class="jp-type-playlist">
                        <div class="jp-gui jp-interface">
                            <ul class="jp-controls">
                                <!-- <li><a href="javascript:;" class="jp-previous" tabindex="1" style="visibility:hidden">previous</a></li> -->
                                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                                <li><a href="javascript:;" class="jp-next" tabindex="1" id="jp-next">next</a></li>
                                <!-- <li><a href="javascript:;" class="jp-stop" tabindex="1" style="visibility:hidden">stop</a></li> -->
                                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                            </ul>
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                     <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                            <div class="jp-time-holder">
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                            </div>
                            <ul class="jp-toggles" style="visibility:hidden">
                                <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                                <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div> 
</div>       
<div id="extruderRight" class="{title:'Trends', url:'/static/jquery.mb.extruder-2.5.0/parts/extruderRight.html'}"></div>
<div id="footer">
    <p></p>
</div>
{% end %}

