{% extends "admin_base.html" %}

{% block extern_lib %}
<link href="/static/jQuery-File-Upload-8.8.5/css/jquery.fileupload-ui.css" rel="stylesheet">
<link href="/static/css/management.css" rel="stylesheet">
<script src="/static/js/bootstrap-paginator.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/jquery.iframe-transport.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/jquery.fileupload.js"></script>
{% end %}

{% block content %}
    <div class="control-group">
        <div id="controls" class="controls">
            <div id="menu" align="left">
                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">添加音乐</a>
                <a href="#myModal2" role="button" class="btn btn-primary" data-toggle="modal">删除所有音乐</a>    
            </div>

            <div align="right">
                <input id="searchMusicId"class="input-medium search-query" type="text" name='music_id' placeholder="Music ID"/> 
                <a href="#myModal3" role="button" class="btn btn-primary" data-toggle="modal" onClick="searchMusic()">查找</a>     
            </div>       
        </div>
    </div>
    <hr/>

    <!--add song-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Start uploading your files</h3>
        </div>
        <div class="modal-body"> 
            <p class="text-info"><strong>Please choose the file you wanna upload</strong></p>
            <div>
                <div id="upload">
                    <span class="btn btn-success fileinput-button" id="clearlist">
                         <span>Add files...</span>
                         <input id="fileupload" type="file" name="file" display="none" data-url="/api/music/" accept="audio/mpeg" multiple>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" id="shutdown">关闭</button>
            </div>
        </div>
    </div>
    <!--add song end-->

    <!--delete all songs-->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Do you really wanna clear all the files?</h3>
        </div>
        <div class="modal-body"> 
            <div class="modal-footer">
                <button id="deleteListAll" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">I'm sure!</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel </button>
            </div>
        </div>
    </div>
    <!--delete all songs end-->

    <!--edit song-->
    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">The file information is as follows</h3>
        </div>
        <div class="modal-body"> 
            <div id="editSong">
            </div>

            <div class="modal-footer">
                <button id="updateSongInfo" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">I'm done!</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel it </button>
            </div>
        </div>
    </div>
    <!--edit song end-->

    <!--songlist-->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <table class="table table-hover" id="addSong">
                <thead>  
                    <td><strong>music_id</strong></td>
                    <td><strong>music_name</strong></td>
                    <td><strong>music_artist</strong></td>
                    <td><strong>music_album</strong></td>
                    <td><strong>music_genre</strong></td>
                </thead>
                <tbody ></tbody>
            </table>
            <div align='middle' id="paginator"></div>
        </div>
    </div>
{% end %}

{% block extern_js %}

<script type='text/javascript'>

//clear uploaded song list
$('#shutdown').bind('click',function(event){
    $('#clearlist').nextAll().remove();
});

//delete all the song list 
$('#deleteListAll').bind('click',function(event){
    $.ajax({
        type: 'delete',
        url: "/api/music/",
        async : false,
        success:function(){
            $("#addSong > tbody").empty(); 
         }
        });
    });

//delete song 
function delSong(event){
    //console.info(event.id);
    var musicId = event.id;
    url = '/api/music/' + musicId + '/';
    $.ajax({
        type:'delete',
        url:url,
        async : false,
        success:function(data){
            //console.info("delete" + data + "success!");
            $('.' + musicId).remove();
        },
    });
    
}

//edit song 
function editSong(event){
    //console.info($(event).next().attr('id'));
    var musicId = $(event).next().attr('id');
        $.ajax({
        type:'get',
        url: "/api/music/" + musicId + '/',
        async : false,
        dataType:'json',
        success:function(data){
            $("#editSong").empty();
            var strInputText = 
                '<div class="input-group"><span class="input-group-addon">music_id</span>\
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\
                <input type="text" class="form-control" disabled="disabled" value="' + data.music_id +'"></br>\
                <span class="input-group-addon">music_name</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\
                <input  type="text" class="form-control" value="' + data.music_name +'"></br>\
                <span class="input-group-addon">music_artist</span>\
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\
                <input  type="text" class="form-control" value="' + data.music_artist +'"></br>\
                <span class="input-group-addon">music_album</span>&nbsp&nbsp&nbsp&nbsp&nbsp\
                <input  type="text" class="form-control" value="' + data.music_album +'"></br>\
                <span class="input-group-addon">music_genre</span>&nbsp&nbsp&nbsp&nbsp&nbsp\
                <input  type="text" class="form-control" value="' + data.music_genre +'"></br>\
                <audio controls ="controls" preload="none" src="' + data.music_url +'"/><audio/>\
                </div>';
            $("#editSong").append(strInputText);
        },
        error:function(){
            $("#editSong").empty();
            var strInputText = '<p>Sorry,the song you find does not exist!</p>';
            $("#editSong").append(strInputText);
        }
    });
    
}

//update song info
$('#updateSongInfo').bind('click',function(event){
    //$('#clearlist').nextAll().remove();
    var info = $('#editSong div').children();
    // console.info("##########");
    // console.info(info);
    // console.info($(info[1]).val()); // id
    // console.info($(info[4]).val()); // name
    // console.info($(info[7]).val()); // artist
    // console.info($(info[10]).val());// album
    // console.info($(info[13]).val());// genre

    var musicId = $(info[1]).val();
    var musicName = $(info[4]).val();
    var musicArtist = $(info[7]).val();
    var musicAlbum = $(info[10]).val();
    var musicGenre = $(info[13]).val();
    
    $.ajax({
        type:'put',
        url: '/api/music/' + musicId + '/',
        data:{
            music_name: musicName,
            music_artist: musicArtist,
            music_album: musicAlbum,
            music_genre: musicGenre,
        },
        async : false,
        success:function(){
           //parent.location.reload();
           console.info($(this));
           var tdstr = '<tr class="' + musicId + '"><td>'+ musicId +'</td> \
                            <td>'+ musicName +'</td> \
                            <td>' + musicArtist +'</td> \
                            <td>'+ musicAlbum +'</td> \
                            <td>'+ musicGenre +'</td> \
                            <td><a href="#myModal3" class="btn btn btn-success btn-xs" data-toggle="modal" onClick ="editSong(this)">edit</a>&nbsp \
                            <button id="' + musicId + '"class="btn btn btn-danger btn-xs" onClick ="delSong(this)">del</button></td> \
                            </tr>';
           $('.' + musicId).replaceWith(tdstr);
         }
     });
    
});
    
//search song info
function searchMusic(){
    var musicId = $('#searchMusicId').val();
    console.info(musicId);
    $.ajax({
        type:'get',
        url: "/api/music/" + musicId + '/',
        async : false,
        dataType: 'json',
        success:function(data){
            $("#editSong").empty();
                var strInputText = 
                      '<div class="input-group"><span class="input-group-addon">music_id</span>\
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\
                        <input type="text" class="form-control" disabled="disabled" value="' + data.music_id +'"></br>\
                        <span class="input-group-addon">music_name</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\
                        <input  type="text" class="form-control" value="' + data.music_name +'"></br>\
                        <span class="input-group-addon">music_artist</span>\
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\
                        <input  type="text" class="form-control" value="' + data.music_artist +'"></br>\
                        <span class="input-group-addon">music_album</span>&nbsp&nbsp&nbsp&nbsp&nbsp\
                        <input  type="text" class="form-control" value="' + data.music_album +'"></br>\
                        <span class="input-group-addon">music_genre</span>&nbsp&nbsp&nbsp&nbsp&nbsp\
                        <input  type="text" class="form-control" value="' + data.music_genre +'"></br>\
                        <audio controls ="controls" preload="none" src="' + data.music_url +'"/><audio/>\
                      </div>';
                $("#editSong").append(strInputText);
        },
        error:function(){
            $("#editSong").empty();
            var strInputText = '<p>Sorry,the song you find does not exist!</p>';
            $("#editSong").append(strInputText);
        }
    });

}

$('#myModal3').on('hidden', function () {
    $("#editSong").empty();
})

$('#myModal').on('hidden', function () {
    location.reload();
})

//上传文件
$(function(){
    $('#fileupload').fileupload({
        dataType: 'json',
        add: function (e, data) { 
            console.info(data.files[0].name);           
            $('<h6/>').text(data.files[0].name).appendTo($('#upload'));           
            console.info(data);
            data.context = $('<button type="button" class="btn btn-mini btn-info"/>').text('start upload')
                .appendTo($('#upload'))
                .click(function () {
                    data.context = $('<button type="button" class="btn btn-mini btn-info"/>').text('uploading......').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('upload finished!');
            console.info(data.result[0]);
            console.info(data.files[0]);
        }
    });
});

items_pre_page = 10

$(document).ready(function(){
    $.ajax({
        url:'/api/music/',// 跳转到 action
        type:'get',
        dataType:'json',
        data: {
            by:'status'
        },
        success:function(data) {
            var options = {
                currentPage: 1,
                totalPages: Math.floor(data.total_count / items_pre_page) + 1,
                onPageClicked: function(e,originalEvent,type,page){
                    $.ajax({
                        type: 'get',
                        url: "/api/music/",
                        dataType:'json',
                        data: {
                            by:'range',
                            start:(page-1)*items_pre_page,
                            count:items_pre_page
                        },
                        async : false,
                        success:function(data){
                            // console.info(data.length);
                            $("#addSong > tbody").empty();
                            for(var i = 0;i < data.length;++i){
                                var tdstr = '<tr class="' + data[i].music_id + '"><td>'+data[i].music_id+'</td> \
                                    <td>'+data[i].music_name+'</td> \
                                    <td>' + data[i].music_artist+'</td> \
                                    <td>'+ data[i].music_album +'</td> \
                                    <td>'+data[i].music_genre+'</td> \
                                    <td><a href="#myModal3" class="btn btn btn-success btn-xs" data-toggle="modal" onClick ="editSong(this)">edit</a>&nbsp \
                                    <button id="' + data[i].music_id + '"class="btn btn btn-danger btn-xs" onClick ="delSong(this)">del</button></td> \
                                    </tr>';
                                //console.info(tdstr);
                                $("#addSong > tbody:last").append(tdstr);
                            }                  
                        }
                    });
                },
            }
            $('#paginator').bootstrapPaginator(options);
         },
         error : function() {
              alert("异常！");
         }
    });
});

// add fist page of song list
$(document).ready(function(){
    $.ajax({
        type: 'get',
        url: "/api/music/",
        dataType:'json',
        data: {
            by:'range',
            start:0,
            count:items_pre_page
        },
        async : false,
        success:function(data){
            $("#addSong > tbody").empty();
            // console.info(data);
            for(var i = 0;i < data.length;++i){
                var tdstr = '<tr class="' + data[i].music_id + '"><td>'+data[i].music_id+'</td> \
                    <td>'+data[i].music_name+'</td> \
                    <td>' + data[i].music_artist+'</td> \
                    <td>'+ data[i].music_album +'</td> \
                    <td>'+data[i].music_genre+'</td> \
                    <td><a href="#myModal3" class="btn btn btn-success btn-xs" data-toggle="modal" onClick ="editSong(this)">edit</a>&nbsp\
                    <button id="' + data[i].music_id + '"class="btn btn btn-danger btn-xs" onClick ="delSong(this)">del</button></td> \
                    </tr>';
                //console.info(tdstr);
                $("#addSong > tbody:last").append(tdstr);
            }                  
        }
    });
});

</script>
{% end %}
