{% extends "base.html" %}
{% block extern_lib %}
<script src="/static/js/jquery.form.js"></script>
{% end %}

{% block content %}
<div align="middle">
    <form id="regForm" action="/api/user/" method="post">
        {% module xsrf_form_html() %}
        
        <legend>用户注册</legend>

        <div class="control-group">
            <label class="control-label" for="user_name">用户名</label>
            <div class="controls">
                <input type="text" id="user_name" name="user_name"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="user_password">密码</label>
            <div class="controls">
                <input type="password" id="user_password" name="user_password"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn btn-success" type="button" value="返回" onclick="location.href='/';">
                <button class="btn btn-primary" type="submit">注册</button>
            </div>
        </div>
    </form>
</div>
{% end %}

{% block extern_js %}
<script type='text/javascript'>
var options = {
    dataType: 'json',
    success: function(data) {
        $('#loginForm').clearForm();
        if (data == null)
        {
            alert('注册失败:用户名已存在!');
        }
        else
        {
            alert('注册成功!');
            location.href = '/';
        }
    }
};

$(document).ready(function() { 
    $('#regForm').ajaxForm(options); 
}); 
</script>
{% end %}