{% extends "base.html" %}

{% block extern_lib %}
<link href="/static/css/management.css" rel="stylesheet">
<script src="/static/js/bootstrap-paginator.js"></script>
<script src="/static/js/music.js"></script>
<script src="/static/js/report.js"></script>
{% end %}

{% block content %}
    <div class="control-group">
        <div id="controls" class="controls">
            <div id="menu" align="left">
                <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Ignore All Report</a>
            </div>  
        </div>
    </div>
    <hr/>

    <!--delete all report-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Do you really wanna Ignore all the report?</h3>
        </div>
        <div class="modal-body"> 
            <div class="modal-footer">
                <button id="deleteReportAll" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">I'm sure!</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel </button>
            </div>
        </div>
    </div>
    <!--delete all report end-->

    <!--edit report-->
    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">The file information is as follows</h3>
        </div>
        <div class="modal-body"> 
            <div id="editSong">
            </div>

            <div class="modal-footer">
                <button id="delSong" class="btn btn btn-danger" data-dismiss="modal" aria-hidden="true" onClick="delEditReport(this)">Delete</button>
                <button id="updateSongInfo" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">I'm done!</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel it </button>
            </div>
        </div>
    </div>
    <!--edit report end-->

    <!--reportlist-->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <table class="table table-hover" id="addReport">
                <thead>  
                    <td><strong>report_id</strong></td>
                    <td><strong>music_id</strong></td>
                    <td><strong>report_info</strong></td>
                    <td><strong>report_date</strong></td>
                </thead>
                <tbody ></tbody>
            </table>
            <div align='middle' id="paginator"></div>
        </div>
    </div>
{% end %}

{% block extern_js %}

<script type='text/javascript'>

//delete all the reportList 
$('#deleteReportAll').on('click',function(event){
    $.ajax({
        type: 'delete',
        url: "/api/report/",
        async : false,
        success:function(){
            $("#addReport > tbody").empty(); 
         }
    });
});



//edit song 
function editSong(event){
    // console.info($(event).next().attr('id'))
    // console.info($('.'+$(event).next().attr('id'))[0].cells[1].innerText);
    var musicId = $('.'+$(event).next().attr('id'))[0].cells[1].innerText;
    $.ajax({
        type:'get',
        url: "/api/music/" + musicId + '/',
        async : false,
        dataType:'json',
        success:edit_music_success_modal,
        error:edit_music_error_modal
    });
}

//update song info
$('#updateSongInfo').bind('click',function(event){
    //$('#clearlist').nextAll().remove();
    var info = $('#editSong table tbody input');
    var musicId = $(info[0]).val();
    var musicName = $(info[1]).val();
    var musicArtist = $(info[2]).val();
    var musicAlbum = $(info[3]).val();
    $.ajax({
        type:'put',
        url: '/api/music/' + musicId + '/',
        data:{
            music_name: musicName,
            music_artist: musicArtist,
            music_album: musicAlbum,
        },
        async : false,
        success:function(){
           //parent.location.reload();
            //console.info($(this));
            var tdstr = '<tr class="' + musicId + '"><td>'+ musicId +'</td> \
                            <td>'+ musicName +'</td> \
                            <td>' + musicArtist +'</td> \
                            <td>'+ musicAlbum +'</td> \
                            <td><a href="#myModal3" class="btn btn btn-success btn-xs" data-toggle="modal" onClick ="editSong(this)">edit</a>&nbsp \
                            <button id="' + musicId + '"class="btn btn btn-danger btn-xs" onClick ="delReport(this)">del</button></td> \
                            </tr>';
           $('.' + musicId).replaceWith(tdstr);
         }
    });
});


$('#myModal3').on('hidden', function () {
    $("#editSong").empty();
    location.reload();
})

$('#myModal').on('hidden', function () {
    location.reload();
})

items_pre_page = 10

$(document).ready(function(){
    $.ajax({
        url:'/api/report/',// 跳转到 action
        type:'get',
        dataType:'json',
        data: {
            by:'status'
        },
        success:function(data) {
            var options = {
                currentPage: 1,
                totalPages: Math.floor(data.total_count / items_pre_page) + 1,
                onPageClicked: function(e,originalEvent,type,page){
                    $.ajax({
                        type: 'get',
                        url: "/api/report/",
                        dataType:'json',
                        data: {
                            by:'range',
                            start:(page-1)*items_pre_page,
                            count:items_pre_page
                        },
                        async : false,
                        success:render_report_list
                    });
                },
            }
            $('#paginator').bootstrapPaginator(options);
         },
         error : function() {
              alert("异常！");
         }
    });
});

// add fist page of song list
$(document).ready(function(){
    $.ajax({
        type: 'get',
        url: "/api/report/",
        dataType:'json',
        data: {
            by:'range',
            start:0,
            count:items_pre_page
        },
        async:false,
        success:render_report_list
    });
});

</script>
{% end %}
