upstream frontends {
    server 127.0.0.1:8000;
}


server {
    listen 80;
    #server_name domain1.com www.domain1.com;

    # Allow file uploads
    client_max_body_size 50M;

    location /music_file/ {
        alias /home/dc/Music/music_file/;
        if ($query_string) {
            expires max;
        }
    }

    location /static/ {
        alias /home/dc/github/miao_fm/static/;
        if ($query_string) {
            expires max;
        }
    }
    
    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://frontends;
    }
}
