{% extends "../admin_base.html" %}

{% block modle_base_content %}
<div class="control-group">
    <div class="controls">
        <div align="left">

            <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">添加音乐</a>
            <!--<a id = "refreshList"class="btn btn-primary">刷新音乐列表</a>-->
            <a href="#myModal2" role="button" class="btn btn-primary" data-toggle="modal">删除所有音乐</a>     
        </div>

        <div align="right">
            <form  action="/admin/music/find_music/" class="form-search">
                <input class="input-medium search-query" type="text" name='music_id' placeholder="Music ID"/> 
                <button type="submit" class="btn">查找</button>
            </form>
        </div>
    </div>
</div>
<hr/>
{% block content %}{% end %}
{% end %}
