{% extends "admin_music_base.html" %}

{% block content %}


<link href="/static/Flexigrid-master/css/flexigrid.css" rel="stylesheet">
    
    <!--add song-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Start uploading your files</h3>
        </div>
        <div class="modal-body"> 
            <p class="text-info"><strong>Please choose the file you wanna upload</strong></p>
            <div>
                <div id="upload">
                    <span class="btn btn-success fileinput-button" id="clearlist">
                         <span>Add files...</span>
                         <input id="fileupload" type="file" name="file" display="none" data-url="/api/music/" multiple>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" id="shutdown">关闭</button>
            </div>
        </div>
    </div>
    <!--add song end-->

    <!--refresh song list-->

    <!--refresh song list end-->

    <!--delete all songs-->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Do you really wanna clear all the files?</h3>
        </div>
        <div class="modal-body"> 

            <div class="modal-footer">
                <button id="deleteListAll" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">I'm sure!</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel </button>
            </div>
        </div>
    </div>
    <!--delete all songs end-->

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home">歌曲列表</a></li>       
    </ul>

    <!--songlist-->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <table class="table table-hover" id="addSong">
                <thead>  
                    <td><strong>file_id</strong></td>
                    <td><strong>music_album</strong></td>
                    <td><strong>music_artist</strong></td>
                    <td><strong>music_name</strong></td>
                    <td><strong></strong></td>
                </thead>
                <tbody ></tbody>
            </table>
            <div align='middle' class="paginator"></div>
        </div>
    <!--delete-->
    <div class="tab-pane" id="profile">
        <div class="tab-pane active" id="home">
            <div id="pageinfo"></div>
            <div class="paginator"></div>      
            </div>
    </div>   
</div>
{% end %}

{% block extern_lib %}
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap-paginator.js"></script>

<script src="/static/Flexigrid-master/js/flexigrid.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/jquery.iframe-transport.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/jquery.fileupload.js"></script>

{% end %}

{% block extern_js %}

<script type='text/javascript'>

//clear uploaded song list
$('#shutdown').bind('click',function(event){
    $('#clearlist').nextAll().remove();
    //location.reload();
});

//refresh song list
$('#refreshList').bind('click',function(event){
    //location.reload();
    $.ajax({
            type: 'get',
            url: "/api/music/",
            dataType:'json',
            data: {
                 start:0,
                 count:items_pre_page
            },
            async : true,
            success:function(data){
                $("#addSong > tbody").empty();
                for(var i = 0;i < data.length;++i){
                    var tdstr = '<tr><td>'+data[i].file_id+'</td> \
                        <td>'+ data[i].music_album +'</td> \
                        <td>' + data[i].music_artist+'</td> \
                        <td>'+data[i].music_name+'</td> \
                        <td><button>del</button></td> \
                        </tr>';
                        //console.info(tdstr);
                     $("#addSong > tbody:last").append(tdstr);
                    }              
                }
            });
});

//delete all the song list 
$('#deleteListAll').bind('click',function(event){
    $.ajax({
        type: 'delete',
        url: "/api/music/",
        async : false,
        success:function(){
            $("#addSong > tbody").empty(); 
         }
        });
    });

//上传文件
$(function(){
    $('#fileupload').fileupload({
        dataType: 'json',
        add: function (e, data) { 
            console.info(data.files[0].name);           
            $('<h6/>').text(data.files[0].name).appendTo($('#upload'));           
            console.info(data);
            data.context = $('<button type="button" class="btn btn-mini btn-info"/>').text('start upload')
                .appendTo($('#upload'))
                .click(function () {
                    data.context = $('<button type="button" class="btn btn-mini btn-info"/>').text('uploading......').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('upload finished!');
            console.info(data.files[0]);
            $.ajax({
            type: 'get',
            url: "/api/music/",
            dataType:'json',
            data: {
                 start:0,
                 count:items_pre_page
            },
            async : true,
            success:function(data){
                $("#addSong > tbody").empty();
                for(var i = 0;i < data.length;++i){
                    var tdstr = '<tr><td>'+data[i].file_id+'</td> \
                        <td>'+ data[i].music_album +'</td> \
                        <td>' + data[i].music_artist+'</td> \
                        <td>'+data[i].music_name+'</td> \
                        <td><button>del</button></td> \
                        </tr>';
                        //console.info(tdstr);
                     $("#addSong > tbody:last").append(tdstr);
                    }              
                }
            });

        }
    });

    
});

$('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
});

items_pre_page = 10

$.ajax( {
    url:'/api/music/',// 跳转到 action
    type:'get',
    dataType:'json',
    success:function(data) {
        var options = {
            currentPage: 1,
            totalPages: Math.floor(data.total_count / items_pre_page) + 1,
            onPageClicked: function(e,originalEvent,type,page){
                $.ajax({
                    type: 'get',
                    url: "/api/music/",
                    dataType:'json',
                    data: {
                        start:(page-1)*items_pre_page,
                        count:items_pre_page
                    },
                    async : false,
                    success:function(data){
                        console.info(data.length);
                        $("#addSong > tbody").empty();
                        for(var i = 0;i < data.length;++i){
                            var tdstr = '<tr><td>'+data[i].file_id+'</td> \
                                <td>'+ data[i].music_album +'</td> \
                                <td>' + data[i].music_artist+'</td> \
                                <td>'+data[i].music_name+'</td> \
                                </tr>'
                            //console.info(tdstr);
                            $("#addSong > tbody:last").append(tdstr);
                        }                  
                    }
                });
            }
        }
        $('.paginator').bootstrapPaginator(options);
     },
     error : function() {
          alert("异常！");
     }
 });


$(document).ready(function(){
    $.ajax({
        type: 'get',
        url: "/api/music/",
        dataType:'json',
        data: {
            start:0,
            count:items_pre_page
        },
        async : false,
        success:function(data){
            $("#addSong > tbody").empty();
            for(var i = 0;i < data.length;++i){
                var tdstr = '<tr><td>'+data[i].file_id+'</td> \
                    <td>'+ data[i].music_album +'</td> \
                    <td>' + data[i].music_artist+'</td> \
                    <td>'+data[i].music_name+'</td> \
                    <td><button>del</button></td> \
                    </tr>'
                //console.info(tdstr);
                $("#addSong > tbody:last").append(tdstr);
            }                  
        }
    });
});
</script>
{% end %}
