{% extends "admin_music_base.html" %}

{% block content %}


<link href="/static/jQuery-File-Upload-8.8.5/css/jquery.fileupload-ui.css" rel="stylesheet">
<link href="/static/css/management.css" rel="stylesheet">
    
    <!--添加歌曲-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">上传文件</h3>
        </div>
        <div class="modal-body"> 
            <p class="text-info"><strong>请选择你要上传的歌曲</strong></p>
            <div>
                <div id="upload">
                    <span class="btn btn-success fileinput-button" id="clearlist">
                         <span>添加歌曲</span>
                         <input id="fileupload" type="file" name="file" display="none" data-url="/api/music/" multiple>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" id="shutdown">关闭</button>
            </div>
        </div>
    </div>
    <!--添加歌曲 end-->

    <!--删除所有歌曲-->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">确定要删除所有歌曲？</h3>
        </div>
        <div class="modal-body"> 
            <div class="modal-footer">
                <button id="deleteListAll" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            </div>
        </div>
    </div>
    <!--删除所有歌曲 end-->

    <!--编辑歌曲-->
    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">歌曲信息</h3>
        </div>
        <div class="modal-body"> 
            <div id="editSong">
            </div>

            <div class="modal-footer">
                <button id="updateSongInfo" class="btn btn btn-primary" data-dismiss="modal" aria-hidden="true">完成</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            </div>
        </div>
    </div>
    <!--编辑歌曲end-->

    <!--songlist-->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <table class="table table-hover" id="addSong">
                <thead>  
                    <td><strong>歌曲ID</strong></td>
                    <td><strong>专辑</strong></td>
                    <td><strong>艺术家</strong></td>
                    <td><strong>歌曲</strong></td>
                </thead>
                <tbody ></tbody>
            </table>
            <div align='middle' class="paginator"></div>
        </div>

    <div class="tab-pane" id="profile">
        <div class="tab-pane active" id="home">
            <div id="pageinfo"></div>
            <div class="paginator"></div>      
            </div>
    </div>   
</div>
{% end %}

{% block extern_lib %}
<script src="/static/js/bootstrap-paginator.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/jquery.iframe-transport.js"></script>
<script src="/static/jQuery-File-Upload-8.8.5/js/jquery.fileupload.js"></script>

{% end %}

{% block extern_js %}
<script src="/static/js/music.js"></script>
{% end %}
