{% extends "admin_cdn_base.html" %}

{% block content %}
<div align="left">
    <h2>{{ msg }}</h2>

    <form action="/admin/cdn/add_cdn/" method="post">

        <legend>CDN信息(*为必填项)</legend>

        <div class="control-group">
            <label class="control-label" for="name">CDN名(*)</label>
            <div class="controls">
                <input id="name" name="name" type="text" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="url_path">URL(*)</label>
            <div class="controls">
                <input id="url_path" name="url_path" type="text" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn btn-success" type="button" value="返回" onclick="location.href='/admin/cdn/';">
                <button class="btn btn-primary" type="submit">提交</button>
            </div>
        </div>
    </form>
</div>
{% end %}

