{% extends "admin_music_base.html" %}

{% block content %}
<div align="left">
    <h2>{{ msg }}</h2>

    <form action="/admin/music/add_music/" method="post" enctype="multipart/form-data">

        <legend>上传文件</legend>

        <div class="control-group">
            <label class="control-label" for="file">文件(*)</label>
            <div class="controls">
                <input id="file" name="file" type="file" accept="audio/mpeg" multiple/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn btn-success" type="button" value="返回" onclick="location.href='/admin/music/';">
                <button class="btn btn-primary" type="submit">上传</button>
            </div>
        </div>
    </form>
</div>
{% end %}

