{% extends "../admin_base.html" %}
{% block extern_head %}
{% end %}

{% block modle_base_content %}
<div class="control-group">
    <div class="controls">
        <div align="left">
            <input class="btn btn btn-success" type="button" value="添加音乐" onclick="location.href='/admin/music/add_music/';">
        </div>

        <div align="right">
            <form  action="/admin/music/find_music/" class="form-search">
                <input class="input-medium search-query" type="text" name='music_name' /> 
                <button type="submit" class="btn">查找</button>
            </form>
        </div>
    </div>
</div>
<hr/>
{% block content %}{% end %}
{% end %}

{% block extern_body %}
{% end %}