{% extends "admin_music_base.html" %}

{% block content %}
<div align="left">
    <h2>{{ msg }}</h2>

        <form action="/admin/music/edit_music/" method="post" enctype="multipart/form-data">

        <legend>歌曲信息(*为必填项)</legend>

        <input id="music_name" name="old_music_name" type="hidden" value="{{music.music_name}}" />

        <div class="control-group">
            <label class="control-label" for="music_name">歌名(*)</label>
            <div class="controls">
                <input id="music_name" name="music_name" type="text" value="{{music.music_name}}" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="music_artist">歌手</label>
            <div class="controls">
                <input id="music_artist" name="music_artist" type="text" value="{{music.music_artist}}" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="music_album">专辑</label>
            <div class="controls">
                <input id="music_album" name="music_album" type="text" value="{{music.music_album}}" />
            </div>
        </div>

        <p>文件名: {{ music.file_name }}</p>
        <p>添加时间: {{ music.upload_data }}</p>
        
        <audio src="{{ music.local_url }}" controls="controls"></audio>
        
        <div class="control-group">
            <div class="controls">
                <input class="btn btn btn-success" type="button" value="返回" onclick="location.href='/admin/music/';">
                <button class="btn btn-primary" type="submit">提交</button>
                <input class="btn btn btn-danger" type="button" value="删除" onclick="location.href='/admin/music/del_music/?music_name={{music.music_name}}';">
            </div>
        </div>
    </form>
</div>
{% end %}

