/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url('../fonts/Lato-Regular.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Italic;*/
    /*src: url('../fonts/Lato-Italic.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Bold;*/
    /*src: url('../fonts/Lato-Bold.ttf');*/
/*}*/
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  border:1px solid red;
}