body { margin:0 auto; background-color: #cccccc; }
#container {border:0px solid red;}

#wrapper {margin:60px 0px 0px 110px; border: 0px solid red;}


#footer {
	border-top: 0px solid #888;
	margin-top: 30px;
	text-align: center;
	padding: 10px 0;
}

#footer a {
	font-size: 13px;
}

#jp-cover {
	float:left;
	padding: 0px;
}

#jp-cover img {
	width: 150px;
	height: 150px;
	margin-top: 0px;
	padding-top: 0px;
}

#jp_container_1 {
	margin-top: 80px;
	float:left;
	width:470px;
	margin-left:85px;
	background-color:#eee;
	/*margin-right: 50px;*/
	border: 0px solid red;
	-moz-box-shadow: 5px 5px 6px #000;
    -webkit-box-shadow: 5px 5px 6px #000;
    box-shadow: 5px 5px 6px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#jp-singer {
	font-size:18px; 
	font-family:sans-serif,Verdana, Arial;
	color: #666;
	height: 20px;
	padding: 0px;
	margin-top: 10px;
	margin-left:15px;
	margin-right:50px;
	border:0px solid red;
}


#jp-name {
	font-size:16px; 
	font-family:Verdana, Arial, sans-serif;
	color: #009be3;
	padding: 0px;
	margin-left:1px;

}

#jp-album {
	font-size:14px; 
	font-family:Verdana, Arial, sans-serif;
	color: #666;
	padding: 0px;
	margin-left:5px;
	margin-right:50px;
	border:0px solid red;
}

#jp-nameAlbum {
	height: 24px;
	margin-top:15px;
	margin-left:15px;
	margin-right:10px;
	border-bottom:1px solid #009be3;
}

#jp-report {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	float:right;
	margin-right:15px;
	border:0px solid red;
}

#jp-report img {
	size:25px 25px;
}

#jp-trash {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	float:right;
	margin-right:10px;
	border:0px solid red;
}

#jp-trash img {
	size:25px 25px;
}

#jp-favorite {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	float:right;
	margin-right:10px;
	border:0px solid red;
}
#jp-favorite img {
	size:25px 25px;
}

.clear {
	clear:both;
}


/*vote bar*/
#vote-container {
	display: none;
    margin-top: 10px;
    margin-left:0px;
    padding: 0px;
    border: 0px solid red;
}

#question {
    padding: 2px;
    font-size: 15px;
}

#question a{
    padding: 2px;
    font-size: 15px;
}

#vote-container div {
    background: #999999;
    margin-bottom: 8px ;
    font-size: 13px;
    color: #000000;
    padding-left:20px;
    border-left: 5px solid #666666;
    border-bottom: 2px solid #666666;
    width: 180px;
    height: 20px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 1.5em 1.5em 0;
}

#vote-container div a {
    border-radius: 0.5em;
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    padding: 3px 3px;
    background: #000000;
    margin-left:30px;
}

#vote-container div a:hover {
    color: #fff;
}

.tag {
	float: right;
	height: 20px;
	margin:0px;
	padding:0px;
	margin-right: 25px;
}

/*vot bar vertical*/
/*#vote-container {
    margin-top: 300px;
    border: 0px solid red;
    height: 220px;
    width: 543px;
}

#vote-container div {
	position: relative;
	bottom: 0px;
	display: inline;
    background: #009be3;
    margin: 0px 7px;
    font-size: 12px;
    color: #ffffff;
    border-bottom: 20px solid #333;
    width: 50px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em 0.5em 0em 0;
    border-radius: 1.5em 1.5em 0em 0;
}

#vote-container span {
	position: absolute;
	bottom: -20px;
	width: 50px;
	text-align: center;
}

#vote-container div a {
	position: absolute;
	bottom: 20px;
    border-radius: 0.2em;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 4px 12px;
}

#vote-container div a:hover {
    color: #fff;
}

.tag {
    position: relative;
    width: 50px;
    text-align: center;
    top: 130px;
}

 #question {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 15px;
}*/

#accordion2 {
	float: left;
	margin-top: 20px;
	margin-left: 85px;
}

