body {
	
	margin:0 auto;
	background-image: url(/static/img/bg.png);
	
}
#container {
	border:0px solid red;
	width: 1100px;
}
#nav {
	width: 200px;
	float:right;
	margin-right: 45px;
}

#wrapper {
	margin:150px 0px 0px 110px;
	border: 0px solid red;
}

#header {
	margin:5px;
	padding:5px;

}

#introduction {
	margin:5px;
	padding:5px;
}

#headBar {
	height: 20px;
}

#jp_container_1 {
	margin-top:200px;
	margin-right: 100px;
	border: 0px solid red;
}

#jp-singer {
	font-size:18px; 
	font-family:黑体,Verdana, Arial, sans-serif;
	color: #666;
	padding: 0px;
	font-weight:bold;
	margin-left:10px;
	margin-right:50px;
	border:0px solid red;
}


#jp-name {
	font-size:15px; 
	font-family:黑体,Verdana, Arial, sans-serif;
	color: #009be3;
	padding: 0px;
	margin-left:1px;

}

#jp-album {
	font-size:10px; 
	font-family:黑体,Verdana, Arial, sans-serif;
	color: #666;
	padding: 0px;
	font-weight:bold;
	margin-left:5px;
	margin-right:50px;
	border:0px solid red;
}



#jp-nameAlbum {
	margin-left:10px;
	margin-right:10px;
	border-bottom:1px solid #009be3;
}


#jp-report {
	width: 25px;
	height: 25px;
	float:right;
	margin-right:10px;
	border:0px solid red;
}
#jp-report img {
	size:25px 25px;
}


#footer {
	height:15px;
	width:1100px;
	margin-top: 80px;
	font-size: 15px;
	text-align: center;
	border: 0px solid red;
	padding:3px;
}

