{% extends "base.html" %}

{% block extern_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery-jplayer/jquery.jplayer.js"></script>
    <script type="text/javascript" src="/static/ttw-music-player-min.js"></script>
{% end %}


{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            var description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tortor nisi. Aenean sodales diam ac lacus elementum scelerisque. Suspendisse a dui vitae lacus faucibus venenatis vel id nisl. Proin orci ante, ultricies nec interdum at, iaculis venenatis nulla. ';
            var myPlaylist = [

                {
                    mp3:'',
                    title:'',
                    artist:'Sample',
                    rating:4,
                    buy:'#',
                    price:'0.99',
                    duration:'0:30'
                }
            ];

            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false, 
                description:description,
                jPlayer:{
                    swfPath:'/static/jquery-jplayer' //You need to override the default swf path any time the directory structure changes
                }
            });
        });
    </script>
{% end %}

