{% extends "admin_music_base.html" %}

{% block extern_head %}

{% end %}

{% block content %}
<h2>{{ msg }}</h2>

<div align="left">

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>歌名</th>
                <th>歌手</th>
                <th>文件名</th>
                <th>添加时间</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for each in music_list %}
                <tr>
                    <td>{{ each.music_name }}</td>
                    <td>{{ each.music_artist }}</td>
                    <td>{{ each.file_name }}</td>
                    <td>{{ each.upload_data }}</td>
                    <td>
                        <input class="btn btn-info btn-small" type="button" value="编辑" onclick="location.href='/admin/music/edit_music/?music_name={{ each.music_name }}';">
                        <input class="btn btn-danger btn-small" type="button" value="删除" onclick="location.href='/admin/music/del_music/?music_name={{ each.music_name }}';">
                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
    {% for i in range(1,page_num+2) %}
        <a href="/admin/music/?page={{i}}">{{i}}</a>
    {% end %}
</div>
{% end %}

